.passion-rundown{
background-color:rgb(255, 255, 255, 0.5);
text-align: center;
}

.Personality-Photos{
text-align: center;

}

.Lists-And-Links{
background-color:rgb(255, 255, 255, 0.5);
text-align: left;
}

body{
background-image:linear-gradient(to bottom, red, yellow);
font-family: "Gochi Hand" ;

}

.carousel-caption{
    background-color: rgba(56, 56, 56, 0.5);
}

.form-section{
    text-align: left;
}

.dropdown-section{
    text-align: left;
}