.Passion-Rundown{
background-color:blanchedalmond;
font-family:cursive;
text-align: center;
}

.Personality-Photos{
font-family:cursive;
text-align: center;

}

.Lists-And-Links{
background-color:rgb(255, 255, 255, 0.5);
font-family:cursive;
text-align: left;
}

body{
background-image:url(clouds.jpg);

}
